HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Limit service ###
limits-service/target
limits-service/HELP.md
limits-service/.gitignore
limits-service/.idea
limits-service/.classpath
limits-service/.project
limits-service/.settings



### Spring Cloud Config Server ###
spring-cloud-config-server/target
spring-cloud-config-server/HELP.md
spring-cloud-config-server/.gitignore
spring-cloud-config-server/.idea
spring-cloud-config-server/.classpath
spring-cloud-config-server/.project
spring-cloud-config-server/.settings


### Currency Exchange Service ###
currency-exchange-service/target
currency-exchange-service/HELP.md
currency-exchange-service/.gitignore
currency-exchange-service/.idea
currency-exchange-service/.classpath
currency-exchange-service/.project
currency-exchange-service/.settings






### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
