HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Employee service ###
employee-service/target
employee-service/HELP.md
employee-service/.gitignore
employee-service/.idea
employee-service/.classpath
employee-service/.project
employee-service/.settings

### Address service ###
address-service/target
address-service/HELP.md
address-service/.gitignore
address-service/.idea
address-service/.classpath
address-service/.project
address-service/.settings

### Open feign (Not necessary) ###
employee-service-2-OpenFeign/target
employee-service-2-OpenFeign/HELP.md
employee-service-2-OpenFeign/.gitignore
employee-service-2-OpenFeign/.idea
employee-service-2-OpenFeign/.classpath
employee-service-2-OpenFeign/.project
employee-service-2-OpenFeign/.settings


### Discovery service ###
discovery-service/target
discovery-service/HELP.md
discovery-service/.gitignore
discovery-service/.idea
discovery-service/.classpath
discovery-service/.project
discovery-service/.settings


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
